.page-4-child {
  align-self: stretch;
  height: 896px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
}
.move7,
.safety7,
.with7 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 356.1px;
  height: 168.6px;
}
.safety7,
.with7 {
  top: 135.7px;
  width: 273.3px;
}
.safety7 {
  top: 271.4px;
  width: 414px;
}
.move-parent4 {
  align-self: stretch;
  height: 439.9px;
  position: relative;
  display: none;
  opacity: 0.3;
}
.notch-icon7 {
  height: calc(100% - 0.2px);
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0.2px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.left-side-icon7 {
  height: 23.2px;
  width: 59.6px;
  position: relative;
  z-index: 1;
}
.recording-indicator-icon7 {
  height: 6.6px;
  width: 6.6px;
  position: relative;
  display: none;
  z-index: 2;
}
.battery7,
.mobile-signal-icon8,
.wifi-icon7 {
  height: 11.8px;
  width: 18.8px;
  position: relative;
  z-index: 1;
}
.battery7,
.wifi-icon7 {
  height: 12.1px;
  width: 16.9px;
}
.battery7 {
  margin: 0;
  height: 12.5px;
  width: 26.9px;
}
.mobile-signal-icon7 {
  height: 13px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.iphone-x-or-newer14,
.iphone-x-or-newer15 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iphone-x-or-newer15 {
  flex: 1;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-base) var(--padding-6xs)
    var(--padding-4xl);
  position: relative;
}
.iphone-x-or-newer14 {
  align-self: stretch;
  background-color: var(--color-black);
  justify-content: center;
  z-index: 1;
}
.input-field-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 5px;
  object-fit: contain;
  cursor: pointer;
  z-index: 1;
}
.whats-your-name {
  align-self: stretch;
  font-weight: 500;
}
.first,
.vector-pair-icon,
.whats-your-name {
  position: relative;
  z-index: 1;
}
.first {
  align-self: stretch;
}
.vector-pair-icon {
  width: 155px;
  height: 1px;
}
.vector-frame {
  height: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  min-width: 127px;
}
.last,
.vector-frame-child {
  position: relative;
  z-index: 1;
}
.vector-frame-child {
  align-self: stretch;
  height: 1px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.pair-of-vectors,
.vector-frame1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-frame1 {
  height: 32px;
  width: 155px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.pair-of-vectors {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}
.middle-vectors {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
  font-size: var(--font-size-xl);
}
.container-frame1,
.first-vector,
.middle-vectors {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.first-vector {
  flex: 1;
  flex-direction: column;
  padding: 47px 0 0;
  position: relative;
  gap: 30px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-aliceblue);
  font-family: var(--font-roboto);
}
.container-frame1 {
  width: 400px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 518px 25px;
  box-sizing: border-box;
}
.rectangle-shape1 {
  align-self: stretch;
  width: 341px;
  position: relative;
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 1;
}
.next2 {
  position: relative;
  font-size: var(--font-size-2xl-6);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-aliceblue);
  text-align: left;
  z-index: 2;
  margin-left: -199px;
}
.next-text,
.page-4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.next-text {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-xl);
  background-color: transparent;
  width: 381px;
  height: 58px;
  flex-direction: row;
}
.page-4 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-43xl);
  gap: var(--gap-17xl);
  text-align: left;
  font-size: var(--font-size-124xl-7);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
