.page-8-child {
  align-self: stretch;
  height: 896px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
}
.move3,
.safety3,
.with3 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 356.1px;
  height: 168.6px;
}
.safety3,
.with3 {
  top: 135.7px;
  width: 273.3px;
}
.safety3 {
  top: 271.4px;
  width: 414px;
}
.group-div {
  align-self: stretch;
  height: 439.9px;
  position: relative;
  display: none;
  opacity: 0.3;
}
.notch-icon3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0.2px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.left-side-icon3 {
  height: 23.2px;
  width: 59.6px;
  position: relative;
  z-index: 1;
}
.recording-indicator-icon3 {
  height: 6.6px;
  width: 6.6px;
  position: relative;
  display: none;
  z-index: 2;
}
.battery3,
.mobile-signal-icon3,
.wifi-icon3 {
  height: 11.8px;
  width: 18.8px;
  position: relative;
  z-index: 1;
}
.battery3,
.wifi-icon3 {
  height: 12.1px;
  width: 16.9px;
}
.battery3 {
  margin: 0;
  height: 12.5px;
  width: 26.9px;
}
.mobile-signal-parent {
  height: 13px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.iphone-x-or-newer6,
.iphone-x-or-newer7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.iphone-x-or-newer7 {
  flex: 1;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-base) var(--padding-6xs)
    var(--padding-4xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xl);
}
.iphone-x-or-newer6 {
  align-self: stretch;
  background-color: var(--color-black);
  justify-content: center;
  top: 0;
  z-index: 99;
  position: sticky;
}
.group-frame-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.text-message-icon {
  position: absolute;
  top: 34px;
  left: 32px;
  width: 16px;
  height: 16px;
  object-fit: contain;
  z-index: 2;
}
.group-frame2 {
  align-self: stretch;
  height: 579px;
  position: relative;
}
.frame-inner {
  width: 414px;
  height: 336px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.john-walker-text,
.your-driver-is {
  position: relative;
  z-index: 3;
}
.john-walker-text {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.jhon-walker {
  flex: 1;
}
.b,
.frame-child1,
.jhon-walker {
  position: relative;
  z-index: 3;
}
.frame-child1 {
  height: 15px;
  width: 15px;
}
.parent,
.travel-time-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.parent {
  align-items: flex-end;
  gap: var(--gap-8xs);
  color: #1976d2;
}
.travel-time-frame {
  width: 160px;
  align-items: center;
  gap: 1px;
}
.swift-desire {
  position: relative;
  z-index: 3;
}
.rectangle-div {
  height: 25.2px;
  width: 84.8px;
  position: relative;
  border: 1px solid var(--color-aliceblue);
  box-sizing: border-box;
  display: none;
}
.reg-no {
  position: relative;
  z-index: 1;
}
.rectangle-parent1 {
  border: 1px solid var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) 15px var(--padding-10xs) var(--padding-mid);
  z-index: 3;
  font-size: 14px;
  color: var(--color-aliceblue);
}
.payment-group {
  align-self: stretch;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl-1);
  color: var(--color-darkgray);
}
.ellipse-shape,
.star-icon {
  display: flex;
  justify-content: flex-start;
}
.star-icon {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xs);
  min-width: 179px;
}
.ellipse-shape {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-xs);
}
.confirmation-text,
.your-driver {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.your-driver {
  flex: 1;
  flex-direction: column;
  gap: 17px;
}
.confirmation-text {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.cost,
.div {
  position: relative;
  z-index: 3;
}
.div {
  white-space: nowrap;
}
.wrapper {
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-darkgray);
}
.mins,
.travel-time {
  position: relative;
  z-index: 3;
}
.mins {
  color: var(--color-darkgray);
}
.cost-parent,
.travel-time-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.cost-parent {
  align-self: stretch;
  gap: var(--gap-mini);
}
.frame-child2 {
  height: 58px;
  width: 341px;
  position: relative;
  background-color: var(--color-gray-200);
  display: none;
  max-width: 100%;
}
.confirm-payment {
  position: relative;
  font-size: var(--font-size-2xl-6);
  font-family: var(--font-roboto);
  color: var(--color-aliceblue);
  text-align: left;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-4xl) var(--padding-mid)
    var(--padding-xl);
  background-color: var(--color-gray-200);
  width: 341px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  z-index: 3;
}
.group-button:hover {
  background-color: var(--color-dimgray);
}
.travel-time-frame1 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-12xl);
  max-width: 100%;
}
.inner-frame,
.page-8,
.rectangle-container,
.travel-time-frame1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rectangle-container {
  align-self: stretch;
  background-color: var(--color-black);
  align-items: center;
  padding: var(--padding-5xl) var(--padding-10xl) var(--padding-43xl)
    var(--padding-15xl);
  box-sizing: border-box;
  gap: 42px;
  max-width: 100%;
  z-index: 2;
  margin-top: -66px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-aliceblue);
  font-family: var(--font-roboto);
}
.inner-frame,
.page-8 {
  align-items: flex-start;
}
.inner-frame {
  align-self: stretch;
  max-width: 100%;
}
.page-8 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  gap: var(--gap-10xs);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-124xl-7);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 450px) {
  .cost-parent {
    flex-wrap: wrap;
  }
  .travel-time-frame1 {
    gap: var(--gap-12xl);
  }
}
